{% extends 'base.html.twig' %}
{% block title %}Modif Vehicule Gazoil{% endblock %}
{% block content %}
    <div class="container-fluid  p-4 mb-4">
        <div class="row">
            <div class="col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 color  mb-4 p-4">
                <div class="col">
                    <h1 class="h3 mb-3 font-weight-normal">Modif Vehicule Gazoil</h1>


                    {{ form_start(registrationForm) }}

                    <div class="form-group">
                        {{ form_label(registrationForm.namevehicule, 'Nom du Vehicule') }}
                        {{ form_widget(registrationForm.namevehicule, {'attr': {'class': 'form-control'}}) }}
                        <small class="text-danger">{{ form_errors(registrationForm.namevehicule) }}</small>
                    </div>
                    <button  type="submit" class="btn" style="background-color: rgba(127, 0, 0, 0.5); color: white" onclick="if (confirm('Es-tu certain de vouloir AJOUTER cette donnée?')) commentDelete(1); return false">Envoie des données</button>
                    <input type = "button" value = "Retour"  class="btn" style=" background-color: rgba(127, 0, 0, 0.5); color: white" onclick = "history.back()">
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}